<mat-card class="daxa-card users-card mb-25 border-radius bg-white border-none d-block"
  [class.component-dark-theme]="themeService.isDark()" [class.rtl-enabled]="themeService.isRTLEnabled()">
  <mat-card-header>
    <mat-card-title>
      <h5 class="mt-0 mb-0">Warehouses</h5>
    </mat-card-title>
    <mat-card-subtitle>
      <button class="mat-mdc-btn" (click)="openAddEditWarehouseModal(0)">
        Add Warehouse
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="users-table">
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th scope="col" class="fw-medium text-black">Name</th>
              <th scope="col" class="fw-medium text-black">Email</th>
              <th scope="col" class="fw-medium text-black">Phone</th>
              <th scope="col" class="fw-medium text-black">Location</th>
              <th scope="col" class="fw-medium text-black">Storage Type</th>
              <th scope="col" class="fw-medium text-black">Capacity</th>
              <th scope="col" class="fw-medium text-black">Created on</th>
              <th scope="col" class="fw-medium text-black">Description</th>
              <th scope="col" class="fw-medium text-black">Status</th>
              <th scope="col" class="fw-medium text-black">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let warehouse of viewModel.warehouses">
              <td>
                  <span class="d-block fw-medium"> {{ warehouse.name }}</span>
              </td>
              <td class="text-body">{{ warehouse.emailId }}</td>
              <td class="text-body">{{ warehouse.contactNumber }}</td>
              <td class="text-body">{{ warehouse.location }}</td>
              <td class="text-body">{{ warehouse.storageType }}</td>
              <td class="text-body">{{ warehouse.capacity }}</td>
              <td class="text-body">{{ warehouse.createdOnUTC | date:'dd/MM/YYYY' }}</td>
              <td class="text-body">{{ warehouse.description}}</td>

              <td>
                <span class="daxa-badge d-inline-block">
                  {{ warehouse.isActive }}
                </span>
              </td>
              <td>
                <div class="action-info d-flex align-items-center justify-content-end">
                  <button type="button" class="text-body" mat-button matTooltip="Edit" matTooltipPosition="above"
                    (click)="openAddEditWarehouseModal(warehouse.id)">
                    <i class="material-symbols-outlined"> edit </i>
                  </button>
                  <button type="button" class="text-body" mat-button matTooltip="Delete" matTooltipPosition="above"
                    (click)="deleteWareHouseById(warehouse.id)">
                    <i class="material-symbols-outlined"> delete </i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </mat-card-content>
  <div class="row">
    <div class="col-12 text-center">
      <pagination></pagination>
    </div>
  </div>
</mat-card>
<!-- add edit modal below -->

<!-- Modal -->
<div class="modal" [ngStyle]="{ display: viewModel.displayStyle }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          {{ viewModel.AddEditWarehouseModalTitle}}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeAddEditWarehouseModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="viewModel.warehouseForm" (ngSubmit)="onSubmit()">
          <div class="modal-body">
            <div class="row">
              <div class="col-12 text-end">
                <!-- Active Field -->
                <div class="form-group">
                  <label for="isActive">Is Active:</label>
                  <input id="isActive" type="checkbox" formControlName="isActive" />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <!-- Name Field -->
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input id="name" placeholder="Warehouse Name" type="text" formControlName="name" class="form-control" />
                  <div *ngIf="viewModel.warehouseForm.get('name')?.invalid && viewModel.warehouseForm.get('name')?.touched">
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('name')?.errors?.['required']">Name is required.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('name')?.errors?.['maxlength']">Name cannot exceed 50 characters.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <!-- Email ID Field -->
                <div class="form-group">
                  <label for="emailId">Email ID:</label>
                  <input id="emailId" placeholder="warehouse@example.com" type="email" formControlName="emailId" class="form-control" />
                  <div *ngIf="viewModel.warehouseForm.get('emailId')?.invalid && viewModel.warehouseForm.get('emailId')?.touched">
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('emailId')?.errors?.['required']">Email ID is required.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('emailId')?.errors?.['email']">Invalid email address.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <!-- Contact Number Field -->
                <div class="form-group">
                  <label for="contactNumber">Contact Number:</label>
                  <input id="contactNumber" placeholder="Warehouse Phone" type="text" formControlName="contactNumber" class="form-control" />
                  <div *ngIf="viewModel.warehouseForm.get('contactNumber')?.invalid && viewModel.warehouseForm.get('contactNumber')?.touched">
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('contactNumber')?.errors?.['required']">Contact number is required.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('contactNumber')?.errors?.['pattern']">Contact number must be a 10-digit number.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <!-- Location Field -->
                <div class="form-group">
                  <label for="location">Location:</label>
                  <input id="location" placeholder="Warehouse Address" type="text" formControlName="location" class="form-control" />
                  <div *ngIf="viewModel.warehouseForm.get('location')?.invalid && viewModel.warehouseForm.get('location')?.touched">
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('location')?.errors?.['required']">Location is required.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('location')?.errors?.['minlength']">Location must be at least 5 characters long.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <!-- Storage Type Field -->
                <div class="form-group">
                  <label for="storageType">Storage Type:</label>
                  <select id="storageType" formControlName="storageType" class="form-control">
                    <option selected value="" disabled>Select type</option>
                    <option *ngFor="let type of viewModel.storageTypes" [value]="type.value">
                      {{ type.key }}
                    </option>
                  </select>
                  <div *ngIf="viewModel.warehouseForm.get('storageType')?.invalid && viewModel.warehouseForm.get('storageType')?.touched">
                    <small class="text-danger">Storage type is required.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <!-- Capacity Field -->
                <div class="form-group">
                  <label for="capacity">Capacity:</label>
                  <input id="capacity" placeholder="e.g., 1234" type="number" formControlName="capacity" class="form-control" />
                  <div *ngIf="viewModel.warehouseForm.get('capacity')?.invalid && viewModel.warehouseForm.get('capacity')?.touched">
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('capacity')?.errors?.['required']">Capacity is required.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('capacity')?.errors?.['pattern']">Capacity must be a number.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- Description Field -->
                <div class="form-group">
                  <label for="description">Description:</label>
                  <textarea id="description" placeholder="About Warehouse" formControlName="description" class="form-control"></textarea>
                  <div *ngIf="viewModel.warehouseForm.get('description')?.invalid && viewModel.warehouseForm.get('description')?.touched">
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('description')?.errors?.['required']">Description is required.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('description')?.errors?.['minlength']">Description must be at least 10 characters long.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('description')?.errors?.['maxlength']">Description cannot exceed 500 characters.</small>
                  </div>
                </div>
              </div>
              <div class="col-12 text-end">
                <!-- Submit or Update Button -->
                <button *ngIf="!viewModel.isEditMode" type="submit" class="btn btn-primary mt-3">Submit</button>
                <button *ngIf="viewModel.isEditMode" type="submit" class="btn btn-primary mt-3">Update</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
    <!-- Modal backdrop -->
    <div class="modal-backdrop"></div>
</div>