<div class="col-12">

  <div class="card">
    <div class="card-body">
      <button class=" btn btn-primary mb-3" (click)="openAddEditWarehouseModal(0)">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Warehouse
      </button>
      <table class="table table table-striped table-bordered">
        <thead class="thead">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Phone</th>
            <th>Storage Type</th>
            <th>Capacity</th>
            <th>IsActive</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let item of viewModel.warehouses">
            <td class="text-wrap">{{item.name}}</td>
            <td >{{item.description}}</td>
            <td>{{item.location}}</td>
            <td>{{item.contactNumber}}</td>
            <td>{{item.storageType}}</td>
            <td>{{item.capacity}}</td>
            <td>{{item.isActive}}</td>
            <td class="d-flex justify-content-between"><i class="fa fa-pencil " (click)="openAddEditWarehouseModal(item.id)"></i>  <i class="fa fa-trash" (click)="deleteWareHouseById(item.id)"></i></td>
          </tr>
        </tbody>
      </table>
      <mat-paginator
      [length]="viewModel.pagination.totalCount"
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="10"
      showFirstLastButtons
      (page)="onPageChange($event)">
    </mat-paginator>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal" [ngStyle]="{ display: viewModel.displayStyle }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          {{ viewModel.AddEditWarehouseModalTitle}}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeAddEditWarehouseModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="viewModel.warehouseForm" (ngSubmit)="onSubmit()">
          <div class="modal-body">
            <div class="row">
              <div class="col-12 text-end">
                <!-- Active Field -->
                <div class="form-group">
                  <label for="isActive">Is Active:</label>
                  <input id="isActive" type="checkbox" formControlName="isActive" />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <!-- Name Field -->
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input id="name" placeholder="Warehouse Name" type="text" formControlName="name" class="form-control" />
                  <div *ngIf="viewModel.warehouseForm.get('name')?.invalid && viewModel.warehouseForm.get('name')?.touched">
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('name')?.errors?.['required']">Name is required.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('name')?.errors?.['maxlength']">Name cannot exceed 50 characters.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <!-- Email ID Field -->
                <div class="form-group">
                  <label for="emailId">Email ID:</label>
                  <input id="emailId" placeholder="warehouse@example.com" type="email" formControlName="emailId" class="form-control" />
                  <div *ngIf="viewModel.warehouseForm.get('emailId')?.invalid && viewModel.warehouseForm.get('emailId')?.touched">
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('emailId')?.errors?.['required']">Email ID is required.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('emailId')?.errors?.['email']">Invalid email address.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <!-- Contact Number Field -->
                <div class="form-group">
                  <label for="contactNumber">Contact Number:</label>
                  <input id="contactNumber" placeholder="Warehouse Phone" type="text" formControlName="contactNumber" class="form-control" />
                  <div *ngIf="viewModel.warehouseForm.get('contactNumber')?.invalid && viewModel.warehouseForm.get('contactNumber')?.touched">
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('contactNumber')?.errors?.['required']">Contact number is required.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('contactNumber')?.errors?.['pattern']">Contact number must be a 10-digit number.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <!-- Location Field -->
                <div class="form-group">
                  <label for="location">Location:</label>
                  <input id="location" placeholder="Warehouse Address" type="text" formControlName="location" class="form-control" />
                  <div *ngIf="viewModel.warehouseForm.get('location')?.invalid && viewModel.warehouseForm.get('location')?.touched">
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('location')?.errors?.['required']">Location is required.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('location')?.errors?.['minlength']">Location must be at least 5 characters long.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <!-- Storage Type Field -->
                <div class="form-group">
                  <label for="storageType">Storage Type:</label>
                  <select id="storageType" formControlName="storageType" class="form-control">
                    <option selected value="" disabled>Select type</option>
                    <option *ngFor="let type of viewModel.storageTypes" [value]="type.value">
                      {{ type.key }}
                    </option>
                  </select>
                  <div *ngIf="viewModel.warehouseForm.get('storageType')?.invalid && viewModel.warehouseForm.get('storageType')?.touched">
                    <small class="text-danger">Storage type is required.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <!-- Capacity Field -->
                <div class="form-group">
                  <label for="capacity">Capacity:</label>
                  <input id="capacity" placeholder="e.g., 1234" type="number" formControlName="capacity" class="form-control" />
                  <div *ngIf="viewModel.warehouseForm.get('capacity')?.invalid && viewModel.warehouseForm.get('capacity')?.touched">
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('capacity')?.errors?.['required']">Capacity is required.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('capacity')?.errors?.['pattern']">Capacity must be a number.</small>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- Description Field -->
                <div class="form-group">
                  <label for="description">Description:</label>
                  <textarea id="description" placeholder="About Warehouse" formControlName="description" class="form-control"></textarea>
                  <div *ngIf="viewModel.warehouseForm.get('description')?.invalid && viewModel.warehouseForm.get('description')?.touched">
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('description')?.errors?.['required']">Description is required.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('description')?.errors?.['minlength']">Description must be at least 10 characters long.</small>
                    <small class="text-danger" *ngIf="viewModel.warehouseForm.get('description')?.errors?.['maxlength']">Description cannot exceed 500 characters.</small>
                  </div>
                </div>
              </div>
              <div class="col-12 text-end">
                <!-- Submit or Update Button -->
                <button *ngIf="!viewModel.isEditMode" type="submit" class="btn btn-primary mt-3">Submit</button>
                <button *ngIf="viewModel.isEditMode" type="submit" class="btn btn-primary mt-3">Update</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
