<div
  class="container-fluid"
  [class.component-dark-theme]="themeService.isDark()"
  [class.rtl-enabled]="themeService.isRTLEnabled()"
>
  <div class="row">
    <div class="col-lg-4">
      <div class="col-12">
        <mat-card
          class="daxa-card mb-25 border-radius bg-white border-none d-block"
        >
          <mat-card-content>
            <form [formGroup]="categoriesForm" (ngSubmit)="onSubmit()">
              <!-- Category Name Section -->
              <div class="form-group mt-3">
                <label class="main-label d-block mb-13 lh-1 text-black"
                  >Category Name</label
                >
                <mat-form-field>
                  <mat-label>Enter Category Name</mat-label>
                  <input matInput formControlName="categoriesName" />
                  <mat-error
                    *ngIf="
                      categoriesForm.get('categoriesName')?.hasError('required')
                    "
                  >
                    Categories name is required.
                  </mat-error>
                  <mat-error
                    *ngIf="
                      categoriesForm
                        .get('categoriesName')
                        ?.hasError('minlength')
                    "
                  >
                    Categories name must be at least 3 characters long.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group mt-3">
                <label class="main-label d-block mb-13 lh-1 text-black"
                  >Category Description</label
                >
                <mat-form-field>
                  <mat-label>Enter Category Description</mat-label>
                  <input matInput formControlName="categoriesDescription" />
                  <mat-error
                    *ngIf="
                      categoriesForm
                        .get('categoriesDescription')
                        ?.hasError('required')
                    "
                  >
                    Categories Description is required.
                  </mat-error>
                  <mat-error
                    *ngIf="
                      categoriesForm
                        .get('categoriesDescription')
                        ?.hasError('minlength')
                    "
                  >
                    Categories Description must be at least 10 characters long.
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Submit Button -->
              <div class="button-div mt-3">
                <button mat-raised-button type="submit">
                  {{
                    viewModel.updateMode
                      ? "Update Category"
                      : "Create  Category"
                  }}
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-lg-8">
      <mat-card
        class="daxa-card users-card mb-25 border-radius bg-white border-none d-block"
        [class.component-dark-theme]="themeService.isDark()"
        [class.rtl-enabled]="themeService.isRTLEnabled()"
      >
        <mat-card-content>
          <div class="users-table">
            <table>
              <thead>
                <tr>
                  <th scope="col" class="fw-medium text-black">ID</th>
                  <th scope="col" class="fw-medium text-black">Name</th>
                  <th scope="col" class="fw-medium text-black">Description</th>
                  <th scope="col" class="fw-medium text-black">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of viewModel.categories">
                  <td class="text-body">{{ category.id }}</td>
                  <td>{{ category.name }}</td>
                  <td>{{ category.description }}</td>

                  <td>
                    <div
                      class="action-info d-flex align-items-center justify-content-end"
                    >
                      <button
                        type="button"
                        class="text-body"
                        mat-button
                        matTooltip="Edit"
                        matTooltipPosition="above"
                        (click)="getCategoryById(category.id)"
                      >
                        <i class="material-symbols-outlined"> edit </i>
                      </button>
                      <button
                        type="button"
                        class="text-body"
                        mat-button
                        matTooltip="Delete"
                        matTooltipPosition="above"
                        (click)="deleteCategoryById(category.id)"
                      >
                        <i class="material-symbols-outlined"> delete </i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <mat-paginator
            [length]="viewModel.pagination.totalCount"
            [pageSizeOptions]="[5, 10, 20]"
            [pageSize]="10"
            showFirstLastButtons
            (page)="onPageChange($event)"
          >
          </mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
