<div class="row">
    <div class="col-12 pe-5 d-flex justify-content-center align-items-cente">
      <div class="card  shadow-lg" style="width: 100%; max-width: 400px; border-radius: 0px; margin-right: 180px;">
        <div class="card-body ">
          <h3 class="card-title text-center mb-4 ">Login</h3>
          <form [formGroup]="viewModel.authForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username" class="form-label mx-2">Username</label>
              <input type="text" class="form-control" formControlName="loginId" placeholder="Enter Username">
              <div *ngIf="viewModel.authForm.get('loginId')?.invalid && viewModel.authForm.get('loginId')?.touched" class="text-danger mt-1">
                Username is required
              </div>
            </div>
            <div class="form-group">
              <label for="Password" class="form-label mx-2">Password</label>
              <input type="password" class="form-control mb-3" formControlName="password" placeholder="Enter Password">
              <div *ngIf="viewModel.authForm.get('password')?.invalid && viewModel.authForm.get('password')?.touched" class="text-danger mt-1">
                Password is required and must be at least 6 characters long
              </div>
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="viewModel.authForm.invalid">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>