.sidebar {
    width: 250px; 
    background-color: rgb(5, 68, 104);
    position: fixed; 
    top: 0; 
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    bottom: 0; 
    transition: width 0.5s ease;
}

.wrapSidebar {
    width: 50px; 
    background-color: rgb(5, 68, 104);
    position: fixed; 
    top: 0; 
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    bottom: 0; 
    transition: width 0.5s ease;
}

.logo {
    margin-bottom: 30px;
    text-align: center;
    width: 100%; /* Ensure it takes full width */
    height: 100px; /* Adjust height as needed */
    color: white; /* Change as needed */
}

.item {
    display: inline; /* Ensure item class elements are displayed inline */
}

/* Hide text items in wrapSidebar */
.wrapSidebar .item {
    display: none; /* Hide text items */
}

ul {
    list-style: none;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.sidebar ul li a {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    padding: 13px 10px; /* Adjust padding */
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
    white-space: nowrap; /* Prevent text from wrapping */
}

.wrapSidebar ul li a {
    padding: 13px 5px; /* Smaller padding when wrapped */
    justify-content: center; /* Center icons */
}

.sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: #0c7db1;
    background: white;
    border-right: 2px solid rgb(5, 68, 104);
}

.sidebar ul li a:hover .icon,
.sidebar ul li a.active .icon {
    color: #335aac;
}

.wrapSidebar ul li a:hover .icon,
.wrapSidebar ul li a.active .icon {
    color: #e7e1e2;
}
