.content{
    height: 100vh;
    width: 100%;
    position: relative;
}
.Main{
    margin-left: 250px; /* Space for the sidebar */
    margin-top: 60px; /* Space for the header */
    height: calc(100vh - 60px); /* Full height minus header */
    overflow-y: auto; /* Scroll if content exceeds */
    padding: 20px; /* Padding for content */
    position: fixed;
    width: calc(100% - 250px);
    transition: all 0.5s ease;
}
.ExtendMain{
    margin-left: 51px;
    margin-top: 60px; /* Space for the header */
    height: calc(100vh - 60px); /* Full height minus header */
    overflow-y: auto; /* Scroll if content exceeds */
    padding: 20px; /* Padding for content */
    position: fixed;
    transition: all 0.5s ease;
}